<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSettingsSection" type="SpamBlocker.program.data.FileSetting.FileSettingSection,SpamBlocker"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- This section contains settings to be usen in the entireti of the program -->
  <appSettings>
    <!-- A Path where the program can write temporary files and logfiles to -->
    <add key="runLocation" value="./" />
    
    <!-- The name of the rule made in the firewall -->
    <add key="fwRuleName" value="SpamBlocker" />

    <!-- Whether dubug information such as when the program was ran will appear in the logfile during execution -->
    <add key="debugInfo" value="true" />
  </appSettings>
  <fileSettingsSection>
    
    <!-- This section is for specifying rule for which ips to block -->
    <!-- A rule is build up as follows:

         <fileSetting
          ruleSettign1="value"
          ruleSettign2="value"
          ...
         />

         The following settings exist and are case sensetive:
         
         setting name     - required/not - default    - description
         
         ruleName         - not required - no default - the name of the rule which is shown in the log-file
         readPath         - required     - no default - the full path the the folder containing the files to look through
         count            - not required - "10"       - the number of times the rule need to be matched before an ip is blocked
         fileCount        - not required - "1"        - the newest <fileCount> files in the folder <readPath> will be checked for this rule
         delimiter        - not required - ","        - what symbol to split each line in the file on to isolate the ip-address
         ipIndex          - not required - "0"        - what the zero-indexd index is for the ip-address
         commentPattern   - not required - "#"        - if the file to be checked contains commented lines the starting symbol of those lines must be specified with this setting
         rangeCheck       - not required - "false"    - true/false if true check within a given range of ip-addresses instead of just individual ips
           maskSize       - not required - "24"       - max 32 how many bits different ip-addresses must match in order to be considered in the same range
           countUniqeIps  - not required - true       - true/false if false the same ip-address can be counted multiple times to be blocked
         doSearch         - not requried - false      - true/false if true each line must contain the searchPattern in order for its ip-address to be counted
           searchPattern  - not required - no default - the full string each line must contain for its ip-address to be counted
    -->
    
    <fileSettings>
      <fileSetting
        ruleName="TestRule"
        readPath="C:\Users\mj\Desktop\Projekter\data\SmtpReceive"
        count="3" 
        fileCount="3"
        delimiter=","
        ipIndex="5"
        doSearch="true"
        searchPattern="due to '504 5.7.4 Unrecognized authentication type'"
      />
      <fileSetting 
        readPath="C:\Users\mj\Desktop\Projekter\data\Spamlogs" 
        count="3" 
        rangeCheck="true" 
        maskSize="24"
        ipIndex="3"
        doSearch="false"
        countUniqeIps="true"
        commentPattern="#"
      />
    </fileSettings>
  </fileSettingsSection>
</configuration>