<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSettingsSection" type="SpamBlocker.program.data.FileSetting.FileSettingSection,SpamBlocker"/>
    <section name="whitelistSection" type="SpamBlocker.program.data.Whitelist.WhitelistSection,SpamBlocker"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- This section contains settings to be usen in the entireti of the program -->
  <appSettings>
    <!-- A Path where the program can write temporary files and logfiles to -->
    <add key="runLocation" value="./" />
    
    <!-- The name of the rule made in the firewall -->
    <add key="fwRuleName" value="SpamBlocker" />

    <!-- Whether dubug information such as when the program was ran will appear in the logfile during execution -->
    <!-- Use full instead of true to get the name of every accessed file instead of just newest accessed for each rule -->
    <add key="debugInfo" value="true" />
  </appSettings>
  <fileSettingsSection>
    
    <!-- This section is for specifying rule for which ips to block -->
    <!-- A rule is build up as follows:

         <fileSetting
          ruleSettign1="value"
          ruleSettign2="value"
          ...
         />

         The following settings exist and are case sensetive:
         
         setting name     - required/not - default    - description
         
         ruleName         - not required - no default - the name of the rule which is shown in the log-file
         readPath         - required     - no default - the full path the the folder containing the files to look through
         count            - not required - "10"       - the number of times the rule need to be matched before an ip is blocked
         fileCount        - not required - "1"        - the newest <fileCount> files in the folder <readPath> will be checked for this rule
         delimiter        - not required - ","        - what symbol to split each line in the file on to isolate the ip-address
         ipIndex          - not required - "0"        - what the zero-indexd index is for the ip-address
         commentPattern   - not required - "#"        - if the file to be checked contains commented lines the starting symbol of those lines must be specified with this setting
         rangeCheck       - not required - "false"    - true/false if true check within a given range of ip-addresses instead of just individual ips
           maskSize       - not required - "24"       - max 32 how many bits different ip-addresses must match in order to be considered in the same range
           countUniqeIps  - not required - true       - true/false if false the same ip-address can be counted multiple times to be blocked
         doSearch         - not requried - off        - off/none/any/all  'off' implies no search will be done
                                                                          'none' implies that 0 of the search terms from the searchPattern parameter must be in the line for the ip to be counted
                                                                          'any' implies that if at least one of the search terms is in the line, the ip addres will be counted
                                                                          'all' implies all of the serch terms must match for the ip to be counted
           searchPattern  - not required - no default - one or many seach terms split by '\n' which is used based on the previous parameters value     -->
    
    <fileSettings>
      <fileSetting
        ruleName="TestRule"
        readPath="C:\Users\mj\Desktop\Projekter\data\webLog"
        count="3" 
        fileCount="1"
        delimiter=" "
        ipIndex="8"
        doSearch="all"
        searchPattern=".php\n - 404 "
      />
      <!--
      <fileSetting 
        readPath="C:\Users\mj\Desktop\Projekter\data\Spamlogs" 
        count="3" 
        rangeCheck="true" 
        maskSize="24"
        ipIndex="3"
        doSearch="false"
        countUniqeIps="true"
        commentPattern="#"
      />
      -->
    </fileSettings>
  </fileSettingsSection>

  <whitelistSection>
    <whitelisted>
      <whitelist ip="192.168.0.0" range="16" />
      <whitelist ip="127.0.0.1" />
    </whitelisted>
  </whitelistSection>
</configuration>