<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fileSettingsSection" type="SpamBlocker.program.data.FileSettingSection,SpamBlocker"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- A Path where the program can write temporary files and logfiles to -->
    <add key="runLocation" value="./" />

    <!-- The Path to the logfiles the program needs to read -->
    <add key="readPath" value="C:/Users/MJ/source/repos/SpamBlocker/SmtpReceive" />

    <!-- The number of times an ip-address needs to be present in order to be blocked -->
    <add key="count" value="5" />
    
    <!-- The name of the rule made in the firewall -->
    <add key="fwRuleName" value="SpamBlocker" />

    <!-- Whether the program should check wether multiple ip's are in the same range, and add the entire range to the rule -->
    <add key="rangeCheck" value="ON" />
    
    <!-- The size of the mask used to check if 2 ip's are in the same range -->
    <add key="maskSize" value="24" />

    <!-- Whether dubug information such as when the program was ran will appear in the logfile during execution -->
    <add key="debugInfo" value="true" />
  </appSettings>
  <fileSettingsSection>
    <fileSettings>
      <fileSetting readPath="C:/Users/MJ/source/repos/SpamBlocker/SmtpReceive" count="5" rangeCheck="true" maskSize="16"/>
    </fileSettings>
  </fileSettingsSection>
</configuration>